body {
    color: #FFFFFF;
}

.clicked {
    color: #7f8c8d;
}

h1,
.js-toDoList,
.js-toDoForm,
.greetings {
    width: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.bgImage {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}