body {
    color: #FFFFFF;
}

.clicked {
    color: #7f8c8d;
}

h1 {
    position: absolute;
    font-size: 100px;
    margin-left: 600px;
    margin-top: 200px;
}

.greetings {
    position: absolute;
    font-size: 50px;
    margin-left: 620px;
    margin-top: 320px;
}

.js-form {
    position: absolute;
    margin-left: 620px;
    margin-top: 380px;
}

.js-toDoForm {
    position: absolute;
    margin-left: 620px;
    margin-top: 420px;
}

.js-toDoList {
    position: absolute;
    margin-left: 620px;
    margin-top: 460px;
    font-size: 20px;
}

.js-weather {
    color: #FFFFFF;
    position: absolute;
    margin-left: 1340px;
    font-size: 20px;
}
.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.bgImage {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}